{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery-jvectormap.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Smart Prospecting</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Results</h4>
                    <a href="{% url 'refresh_data' %}" class="btn btn-primary">Refresh Data</a>
                </div>
                <div class="card-body">
                    <table class="table table-centered mb-0">
                        <thead>
                            <tr>
                                <th>Property name</th>
                                <th>City</th>
                                <th>Loan Balance</th>
                                <th>Likelihood</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for entry in data %}
                            <tr>
                                <td>{{entry.data.propname}}</td>
                                <td>{{entry.data.city}}</td>
                                <td>{{entry.data.loanuniversepropid}}</td>
                                <td class="text-center">{% include 'includes/score-badge.html' with score=entry.data.predictions %}
                                </td>
                                <td>
                                    <a href="{% url 'similar_properties' entry.data.loanuniversepropid %}" class="btn btn-sm btn-primary" target="_blank">Similar Properties</a>
                                </td>
                            </tr>
                            {% endfor %}

                            <div class="modal fade" id="similarPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="similarPropertiesModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="similarPropertiesModalLabel">Similar Properties</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="similarPropertiesModalBody">
                                            <!-- Content will be dynamically inserted here -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>

                    </table>
                    {% include 'includes/pagination.html' with page_obj=data %}
                </div>

            </div> <!-- end card-->
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('.similar-properties-btn').on('click', function() {
        var propertyId = $(this).data('property-id');
        $.ajax({
            url: "{% url 'get_similar_properties' %}",
            data: { property_id: propertyId },
            success: function(data) {
                showSimilarPropertiesModal(data);
            },
            error: function() {
                alert('Failed to fetch similar properties');
            }
        });
    });

    function showSimilarPropertiesModal(properties) {
        var modalContent = '<table class="table"><thead><tr><th>Property Name</th><th>City</th><th>Loan Balance</th></tr></thead><tbody>';
        properties.forEach(function(property) {
            modalContent += '<tr><td>' + property.propname + '</td><td>' + property.city + '</td><td>' + property.curLoanBal + '</td></tr>';
        });
        modalContent += '</tbody></table>';

        $('#similarPropertiesModalBody').html(modalContent);
        $('#similarPropertiesModal').modal('show');
    }
});
</script>
{% endblock %}