{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tracker.css' %}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Tracker Details</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <!-- project card -->
            <div class="card d-block">
                <div id="detail-body" class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="mt-0">{{ prospect.name }}</h3>
                        <!-- project title-->
                    </div>
                    <div class="badge badge-lg text-bg-{{ prospect.get_progress_class }} mb-3">
                        {{ prospect.get_status_display }}</div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Property Type</h5>
                                <p>{{ prospect.get_property_type_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Purpose Type</h5>
                                <p>{{ prospect.get_purpose_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Amount</h5>
                                <p>${{ prospect.amount }}</p>
                            </div>
                        </div>
                    </div>

                    <div id="tooltip-container">
                        <h5>Sent To:</h5>
                        <div class="d-flex align-items-center">
                            <div>
                                {% for user in prospect.users.all %}
                                {% if forloop.last %}
                                <a class="remove-user"
                                    href="{% url 'remove-user' %}?prospect_uid={{ prospect.uid }}&target_user_pk={{ user.pk }}">{{ user.email}}</a>
                                {% else %}
                                <a class="remove-user"
                                    href="{% url 'remove-user' %}?prospect_uid={{ prospect.uid }}&target_user_pk={{ user.pk }}">{{ user.email}},
                                </a>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="ms-auto">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#send-to-modal">Add Users</button>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card-body-->

            </div> <!-- end card-->

            <!-- end card-->
        </div>
        <div id="" class="col-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    {% if is_staff %}
                    <h4 class="header-title">Pipeline</h4>
                    {% else %}
                    <h4 class="header-title">Conditions</h4>
                    {% endif %}
                    <div data-simplebar style="max-height: 250px; height: 250px;">
                        {% if pipeline %}
                        {% for document in pipeline %}
                        <div class="d-flex align-items-center">
                            <a class="fw-bold" href="{% url 'tracker-detail' prospect.pk document.document_type.pk %}">{{ document.name }}</a>
                                <span class="status bg-{{ document.get_status_class }} ms-auto"></span>
                        </div>
                        <div class="text-muted">{{ document.uploaded_by.email }} at {{ document.created_at }}</div>
                        <hr>
                        {% endfor %}

                        {% else %}
                        <div class="text-center text-muted mt-3">
                            No current pending documents to review.
                        </div>
                        <div class="text-center text-muted">
                            {{ prospect.get_todo_count }} more document types to approve.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-11">

            <div class="horizontal-steps mt-4 mb-4 pb-5" id="tooltip-container">
                <div class="horizontal-steps-content">
                    <div class="step-item {% if object.status == 'draft' %}current{% endif %}">
                        <span>Draft</span>
                    </div>
                    <div class="step-item {% if object.status == 'in-progress' %}current{% endif %}">
                        <span>In Progress</span>
                    </div>
                    <div class="step-item {% if object.status == 'correcting' %}current{% endif %}">
                        <span>Correcting</span>
                    </div>
                    <div class="step-item {% if object.status == 'completed' %}current{% endif %}">
                        <span>Completed</span>
                    </div>
                </div>

                <div class="process-line" style="width: {{ object.get_progress_percentage }}%;"></div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xxl-8 col-xl-7">
            <div class="card d-block">
                <div class="card-body">
                    <div class="d-flex card-header justify-content-between align-items-center">
                        <h4 class="header-title">{{ current_document_type.type }}</h4>
                        {% if is_staff %}
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_document_type.get_status_display }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for value, key in DOCUMENT_TYPE_STATUS_CHOICES %}
                                <form action="{% url 'update_document_type_status' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="document_type_pk" value="{{ current_document_type.pk }}">
                                    <input type="hidden" name="status" value="{{ value }}">
                                    <a class="dropdown-item" href="#" onclick="this.closest('form').submit();">Set
                                        {{ key }}</a>
                                </form>
                                {% endfor %}

                            </div>
                        </div>

                        {% else %}
                        <h4>
                        <span class="badge badge-{{ current_document_type.get_status_class }}-lighten rounded-pill">{{ current_document_type.get_status_display }}</span>
                    </h4>
                        {% endif %}

                    </div>


                    <div endpoint="{% url 'poll_openai_document_check' %}" id="document-upload">
                        {% include 'includes/document-upload.html' %}
                    </div>
                    <div style="display: none;" id="document-loading">
                        <div class="d-flex justify-content-center align-items-center my-5 flex-column">
                            <div class="spinner-border avatar-md" role="status"></div>
                            <div class="fw-bold mt-2" id="document-loading-text">Uploading file. Do not reload page!
                            </div>
                        </div>
                    </div>

                    <div>
                        {% for document in current_document_type.documents.all %}
                        <!-- file preview template -->
                        <div document_pk="{{ document.pk }}" class="document" checked="{{ document.file_checked }}"
                            id="uploadPreviewTemplate">
                            <div class="card mt-1 mb-0 shadow-none border">
                                <div class="p-2">
                                    <div class="row align-items-center">
                                        <div id="document-status" class="col-auto">
                                            <div class="avatar-sm d-table">
                                                <span
                                                    class="avatar-title bg-{{ document.get_status_class }}-lighten rounded-circle text-{{ document.get_status_class }}">
                                                    <i class="{{ document.get_icon_class }} font-24"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div id="document-loading" class="col-auto" style="display: none;">
                                            <div class="d-flex justify-content-center">
                                                <div class="spinner-border text-primary" role="status"></div>
                                            </div>
                                        </div>
                                        <div class="col ps-0 align-items-center">
                                            <a target="_blank" href="{{ document.file.url }}"
                                                class="text-muted fw-bold d-flex align-items-center"
                                                data-dz-name><span>{{ document.name }}</span> <span
                                                    style="margin-top: 2px;"
                                                    class="mdi mdi-download font-20 ms-1"></span></a>

                                        </div>
                                        <div class="col-auto">
                                            <!-- Button -->
                                            <a onclick="return confirm('Are you sure you want to delete this?')"
                                                id="delete-document-link"
                                                href="{% url 'delete-document' document.uid %}"
                                                class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                <i class="ri-close-line"></i>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="d-flex flex-column">
                                        <div style="display: none;" id="loading-warning" class="text-muted mt-2" id="">
                                            File is being smart analyzed. We will notify you if there are any issues.
                                        </div>
                                        {% if is_staff %}

                                        {% if document.feedback %}
                                        
                                        <h6 class="mb-0">AI Feedback (Staff Only)</h6>
                                        <div id="ai-feedback" class="my-1 text-muted">{{ document.feedback|safe }}</div>

                                        {% endif %}
                                        {% if document.client_feedback %}
                                        <h6 class="mb-0">Client Feedback (Client Sees)</h6>
                                        <div class="my-1 text-muted">{{ document.client_feedback|safe }}</div>
                                        {% endif %}
                                        {% if document.client_question %}
                                        <h6 class="mb-0">Client Question</h6>
                                        <div class="my-1 text-muted">{{ document.client_question|safe }}</div>
                                        {% endif %}
                                        <div class="mt-2 mb-1 ms-auto">
                                            <a ai-feedback="{{ document.feedback|safe }}"
                                                document_uid="{{ document.uid }}"
                                                url="{{ document.file.url }}"
                                                class="btn btn-primary send-client-feedback">Send Feedback</a>
                                        </div>
                                        <div class="d-flex my-2 align-items-center">
                                            <div class="text-muted">Uploaded by {{ document.uploaded_by }}</div>
                                            {% if document.overridden %}
                                            <div class="ms-auto">
                                                <div class="fw-bold">Approved by user</div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% else %}

                                        {% if document.client_feedback %}
                                        <h6 class="mb-0">Condition Feedback</h6>
                                        <div class="my-1 text-muted">{{ document.client_feedback|safe }}</div>
                                        {% endif %}
                                        {% if document.client_question %}
                                        <h6 class="mb-0">Client Question</h6>
                                        <div class="my-1 text-muted">{{ document.client_question|safe }}</div>
                                        {% endif %}
                                        {% if document.status == 'rejected' %}
                                        <div class="btn-group mt-2" role="group" aria-label="Basic example">
                                            <a onclick="clickUploadNew()" type="button" class="btn btn-secondary">Upload New Document</a>
                                            <a document_uid="{{ document.uid }}" type="button" class="btn btn-secondary question-btn">Ask Question</a>
                                            <a type="button" onclick="return confirm('Are you sure you want to override this?')" href="{% url 'override-document-check' document.uid %}" class="btn btn-secondary">Disagree? Override.</a>
                                          </div>
                                        {% endif %}
                                        <div class="d-flex my-2 align-items-center">
                                            <div class="text-muted">Uploaded by {{ document.uploaded_by }}</div>
                                            {% if document.overridden %}
                                            <div class="ms-auto">
                                                <div class="fw-bold">Approved by user</div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}

                                    </div>

                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div> <!-- end card-->

            <!-- end card-->
        </div> <!-- end col -->

        <div class="col-xxl-4 col-xl-5">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Documents</h4>
                    <div class="list-group list-group-flush">
                        {% for document_type in document_types %}
                        <a href="{% url 'tracker-detail' prospect.pk document_type.pk %}"
                            class="position-relative document_type list-group-item d-flex justify-content-between align-items-center {% if current_document_type == document_type %}active{% endif %}">
                            {{ document_type.type }}
                            <span class="p-1 bg-{{ document_type.get_status_class }} rounded-circle">
                                <span class="visually-hidden">{{ document_type.status }}</span>
                            </span>

                            <!-- {% if document_type.staff_notifications %}
                            <span class="position-absolute top-50 start-100 translate-middle p-1 bg-danger border rounded-circle"></span>
                            {% endif %} -->
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'includes/send-to-user-modal.html' %}
{% include 'includes/send-client-feedback-modal.html' %}
{% include 'includes/ask-question-modal.html' %}

{% endblock %}

{% block js %}
<script>
    let active_document_type = null;
    let document_type_btns = document.getElementsByClassName("document_type")
    for (let i = 0; i < document_type_btns.length; i++) {
        document_type_btns.addEventListener("click", )
    }
</script>
<script src="{% static 'js/upload-document.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/component.fileupload.js' %}"></script>
<script>
    var uploads = document.getElementsByClassName("uploads")
    for (let i = 0; i < uploads.length; i++) {
        uploads[i].addEventListener("change", function () {
            console.log("submitting....")
            uploads[i].submit();
        })
    }
</script>

<script src="{% static 'js/ai-feedback.js' %}"></script>

<script>
    let send_client_feedback_btns = document.getElementsByClassName("send-client-feedback");
    for (let i = 0; i < send_client_feedback_btns.length; i++) {
        send_client_feedback_btns[i].addEventListener("click", function (e) {
            document.getElementById("client_feedback_document_uid").value = send_client_feedback_btns[i]
                .getAttribute("document_uid")
            document.getElementById("document-feedback").innerHTML = send_client_feedback_btns[i].getAttribute(
                "ai-feedback")
            // document.getElementById("file-preview").src = send_client_feedback_btns[i].getAttribute("url");
            var myModal = new bootstrap.Modal(document.getElementById('send-client-feedback-modal'));
            myModal.show();
        })
    }
</script>
<script>
    let submit_question_btns = document.getElementsByClassName("question-btn");
    for (let i = 0; i < submit_question_btns.length; i++) {
        submit_question_btns[i].addEventListener("click", function (e) {
            document.getElementById("question_document_uid").value = submit_question_btns[i]
                .getAttribute("document_uid")
            var questionModal = new bootstrap.Modal(document.getElementById('ask-question-modal'));
            questionModal.show();
        })
    }
</script>
<script>
    // Set pipeline height
    let detailHeight = document.getElementById('detail-body').clientHeight;
    console.log(detailHeight)
    document.getElementById('pipeline-body').style.maxHeight = detailHeight + 'px';
</script>
<script>
function clickUploadNew(){
    let dropzone = document.getElementById('fileDropzone');
    
    // Smooth scroll to the dropzone element
    dropzone.scrollIntoView({ behavior: 'smooth', block: 'center' });

    // Change border color to red
    dropzone.style.borderColor = 'red';
    
    // Set a timeout to revert the border color back to its original state
    setTimeout(() => {
        dropzone.style.borderColor = ''; // Assuming '' is the original color, adjust if necessary
    }, 2000); // 2000ms delay, adjust as needed
}

</script>
{% endblock %}